body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: rgb(183, 0, 255);
  color: black;
}


nav {
  background-color: rgb(183, 0, 255);
  color: white;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-kiri {
  font-size: 24px;
  font-weight: bold;
}

.nav-kanan {
  list-style: none;
  display: flex;
  gap: 25px;
}

.nav-kanan a {
  color: white;
  text-decoration: none;
  font-weight: 500;
}

.home {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
}

.home-kiri {
  max-width: 50%;
}

.home-kanan img {
  max-width: 300px;
  border-radius: 10px;
}

.about {
  padding: 40px;
  text-align: center;
}

.about h2 {
  margin-bottom: 15px;
}

.social-links {
  margin-top: 20px;
}

.social-links a {
  display: inline-block;
  margin: 0 10px;
  padding: 10px 20px;
  background-color: rgb(183, 0, 255);
  color: black;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  transition: 0.3s;
}

.social-links a:hover {
  background-color: #c0ff91;
}

footer {
  background-color: #b700ff;
  color: white;
  text-align: center;
  padding: 15px;
}